[versions]
moshi = "1.15.2"

[libraries]
apache-ant = "org.apache.ant:ant:1.10.15"
apache-commonsIo = "commons-io:commons-io:2.18.0"
apache-log4j = "org.apache.logging.log4j:log4j-core:2.24.3"
apache-maven-modelBuilder = "org.apache.maven:maven-model-builder:3.9.9"
asm = "org.ow2.asm:asm-commons:9.7.1"
# jdependency should be updated together with ASM, see https://github.com/tcurdt/jdependency/issues/325.
jdependency = "org.vafer:jdependency:2.12"
jdom2 = "org.jdom:jdom2:2.0.6.1"
plexus-utils = "org.codehaus.plexus:plexus-utils:4.0.2"
plexus-xml = "org.codehaus.plexus:plexus-xml:4.0.4"
xmlunit = "org.xmlunit:xmlunit-legacy:2.10.0"
moshi = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }
moshi-kotlin = { module = "com.squareup.moshi:moshi-kotlin", version.ref = "moshi" }
foojayResolver = "org.gradle.toolchains.foojay-resolver-convention:org.gradle.toolchains.foojay-resolver-convention.gradle.plugin:0.9.0"

pluginPublish = "com.gradle.publish:plugin-publish-plugin:1.3.1"
mavenPublish = "com.vanniktech:gradle-maven-publish-plugin:0.30.0"
gitPublish = "org.ajoberstar.git-publish:gradle-git-publish:5.1.0"
jetbrains-dokka = "org.jetbrains.dokka:dokka-gradle-plugin:2.0.0"
node = "com.github.node-gradle:gradle-node-plugin:7.1.0"

androidx-gradlePluginLints = "androidx.lint:lint-gradle:1.0.0-alpha03"
# Dummy to get renovate updates, the version is used in rootProject build.gradle with spotless.
ktlint = "com.pinterest.ktlint:ktlint-cli:1.5.0"

junit-bom = "org.junit:junit-bom:5.12.0"
assertk = "com.willowtreeapps.assertk:assertk:0.28.1"

[plugins]
kotlin-jvm = "org.jetbrains.kotlin.jvm:2.1.10"
android-lint = "com.android.lint:8.8.1"
jetbrains-bcv = "org.jetbrains.kotlinx.binary-compatibility-validator:0.17.0"
spotless = "com.diffplug.spotless:7.0.2"
