name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    environment:
      name: github-pages
    permissions:
      id-token: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: true
      - name: Prepare API documentation
        run: ./gradlew dokkaHtml
      - name: Build Site
        run: |
          # Don't cache it to track updates.
          pip install mkdocs-material
          mkdocs build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - uses: actions/deploy-pages@v4
