name: Release

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'GradleUp/shadow'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all tags and branches, so that MkDocs could push incremental updates.
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: true
      # Disable CC due to https://github.com/gradle/gradle/issues/22779
      - run: ./gradlew publish publishPlugins --no-configuration-cache
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_SECRET }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USER }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
      - uses: ./.github/actions/deploy-site
      - name: Extract release notes
        # TODO: replace this after https://github.com/ffurrer2/extract-release-notes/pull/355 is merged.
        uses: Goooler/extract-release-notes@6e686e7a607d03716b7cff561371a82065b22c33
        with:
          changelog_file: docs/changes/README.md
          release_notes_file: RELEASE_NOTES.md
      - name: Create release
        run: gh release create ${{ github.ref_name }} --notes-file RELEASE_NOTES.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
